<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartliving">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.smartliving.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.smartliving.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smartliving.MainActivity" />
        </activity>
        <activity
            android:name="com.example.smartliving.login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.smartliving.OptionsActivity"
            android:label=""
            android:parentActivityName="com.example.smartliving.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smartliving.MainActivity" />
        </activity>
        <activity
            android:name="com.example.smartliving.PlantRecommendationActivity"
            android:label=""
            android:parentActivityName="com.example.smartliving.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smartliving.MainActivity" />
        </activity>

        <activity
            android:name="com.example.smartliving.PlantActivity1"
            android:label=""
            android:parentActivityName="com.example.smartliving.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smartliving.MainActivity" />
        </activity>
        <activity
            android:name="com.example.smartliving.PlantActivity2"
            android:label=""
            android:parentActivityName="com.example.smartliving.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smartliving.MainActivity" />
        </activity>
        <activity
            android:name="com.example.smartliving.splashscreen"
            android:label=""
            android:parentActivityName="com.example.smartliving.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smartliving.MainActivity" />
        </activity>
        <activity
            android:name="com.example.smartliving.UsageActivity"
            android:label=""
            android:parentActivityName="com.example.smartliving.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smartliving.MainActivity" />
        </activity>
        <activity
            android:name="com.example.smartliving.ElectronicListActivity"
            android:label=""
            android:parentActivityName="com.example.smartliving.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smartliving.MainActivity" />
        </activity>
        <activity
            android:name="com.example.smartliving.ElectronicActivity"
            android:label=""
            android:parentActivityName="com.example.smartliving.ElectronicListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smartliving.ElectronicListActivity" />
        </activity>
    </application>

</manifest>
